/node_modules
/public/hot
/public/storage
/public/vendor
/public/mix-manifest.json
/public/d.log
/public/js/*
!/public/js/.gitkeep
/public/css/*
!/public/css/.gitkeep
/storage/*.key
/vendor
/docker/mariadb/data/*
/docker/redis/data/*
.env
.idea
.phpstorm.meta.php
_ide_helper.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/public/unload