.alert.upload-success {
  margin-bottom: 0;
}

.parts-wrapper {
  .table-parts {
    thead, tbody, tfoot, tr, td, th {

    }

    thead {
      tr {
        text-align: center;
      }
    }

    tbody {


      tr {
        text-align: center;
      }
    }
  }
}
